# LaTeX build files
*.aux
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.loa
*.log
*.lol
*.maf
*.mtc
*.mtc[0-9]*
*.out
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.xdy

# Build folders
/build/
/out/
.aux/

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
